<ion-view view-title="Chamadas" name="login-view">
  <ion-content class="padding">
      <div class="brasao-image">
        <img class="full-image icon" src="img/brasao.png">
      </div>

      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="CPF" ng-model="data.username"}>
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Senha" ng-model="data.password" required>
          </label>
      </div>
      <button type="submit" class="button button-block button-positive" ng-click="login()">Login</button>
  </ion-content>
</ion-view>