<ion-view view-title="Aulas de hoje" name="sessions-view">
   <ion-nav-buttons side="right">
      <button class="button icon ion-gear-a" ng-click="openPopover($event)"></button>
   </ion-nav-buttons>

   <ion-content class="padding">
    <div class="card sessions-card" ng-repeat="(courseid, course) in courses_with_sessions">
      <div class="item item-divider">
        <i class="icon ion-university"></i>
        {{course.fullname}}
      </div>
      <div ng-repeat="(moduleid, att_instance) in course.attendance_instance">
        <div class="item item-text-wrap" ng-repeat="(id, instance) in att_instance" ng-click="loadSession(moduleid, instance)"> 
          <i class="icon ion-calendar"></i>
            {{instance.sessdate * 1000 | date:'dd/MM/yy'}}
          <i class="icon ion-clock"></i>
            {{instance.sessdate * 1000 | date :'HH:mm'}}
        </div>
      </div>
    </div>

    <script id="settings.html" type="text/ng-template">
      <ion-popover-view class="fit">
        <ion-content>
            <button class="button button-full logout-button" ng-click="logout()"> Sair </button>
        </ion-content>
      </ion-popover-view>
    </script>

  </ion-content>
</ion-view>