<ion-view view-title="Minhas sessões" name="sessions-view">
  <ion-content class="padding">
    <div class="card session-card" ng-repeat="(key, session) in sessions" ng-click=loadSession(session.id)>
      <div class="item item-divider">
        <i class="icon ion-university"></i>
        {{session.courseName}}
      </div>
      <div class="item item-text-wrap">
        <i class="icon ion-calendar"></i>
        {{session.date}}
        <i class="icon ion-clock"></i>
        {{session.time}}
      </div>
    </div>
  </ion-content>
</ion-view>