<ion-view view-title="" class="my_sessions_not_found" name="my_sessions_not_found-view">
	<ion-nav-buttons side="left">
		<button class="button icon ion-arrow-left-c" ng-click="goBack()"></button>
	</ion-nav-buttons>
	<ion-content class="padding">
		<div class="item-icon-bottom">
			 <i class="icon ion-sad" style="color: #B4B7B9; margin-top: 100px; position:absolute; left:42%; font-size:300px"> </i>
			<p style="color: #B4B7B9; margin-top: 14em; position:absolute; left:37%; font-size:30px">Nenhuma sessão encontrada</p>
		</div>
	</ion-content>
</ion-view>
