<ion-view cache-view="false" view-title="" class="session" name="session-view">
	<ion-nav-buttons side="right">
		<button class="button icon ion-gear-a" ng-click="openPopover($event)"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="left">
		<button class="button icon ion-arrow-left-c" ng-click="goBack()"></button>
	</ion-nav-buttons>

	<ion-content class="padding">
		<div>
			<p class="{{nfcClass}}">{{nfcStatus}}</p>
		</div>
		<div class="list card student_card" ng-repeat="(key, user) in session.users">
			<div class="card">
			  <div class="item item-text-wrap">
				<div class="student-card-item first-block {{user.sentStatus}}" ng-click="openModal(user)">
					<div class="student-card-item">
						<img height="42" width="42" src="img/noimage.png">
					</div>
					<div class="student-card-item">
						<h2>{{user.firstname + " " + user.lastname}}</h2>
						<p>
							<div>{{user.status}}</div>
						</p>
					</div>
				</div>
				<div class="student-card-item record-rfid-icon" ng-if=" user.rfid == '' ">
					<img height="42" width="42" src="img/nfc.png"  ng-click="recordTag(user)">
				</div>
			  </div>
			</div>


			<!-- <div>
				<div class="item item-avatar" style="display:block !important;">
					<img src="img/noimage.png">
					<h2>{{user.firstname + " " + user.lastname}}</h2>
					<p>
						<div>{{user.status}}</div>
					</p>
				</div>
				<div style="display:block !important;">
					<input size="20" type="button"></input>
				</div>
			</div> -->
		</div>

		<script id="status-modal.html" type="text/ng-template">
		  <ion-modal-view>
		    <ion-header-bar>
		      <h1 class="title">Selecione o status do aluno na sessão</h1>
		    </ion-header-bar>
		    <ion-content>
		        <div class="list">
				  <label class="item item-radio" ng-repeat="(key, status) in session.statuses">
				    <input type="radio" name="group" value="status.description"
				           ng-click="changeStatus(status)">
				    <div class="item-content">{{status.description}}</div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>
				</div>
		    </ion-content>
		  </ion-modal-view>
		</script>

        <script id="settings.html" type="text/ng-template">
            <ion-popover-view class="fit">
                <ion-content>
                    <button class="button button-full" ng-repeat="(key, status) in session.statuses" ng-click="updateAll(status)">
                        Marcar todos como {{status.description}}
                    </button>

                    <button class="button button-full logout-button" ng-click="logout()">
						Sair
					</button>
                </ion-content>
            </ion-popover-view>
        </script>
	</ion-content>
</ion-view>
