.brasao-image {
	margin-top: 8em;
	margin-bottom: 5em;
	text-align: center;
}

.brasao-image .icon {
	height: 200px;
	width: 200px;
}

.courses-cards {
	margin-top: 8em;
}

.sessions-cards {
	margin-top: 8em;
}