.brasao-image {
	margin-top: 5em;
	margin-bottom: 5em;
	text-align: center;
}

.brasao-image .icon {
	height: 200px;
	width: 200px;
}

.sessions-card .ion-clock {
	margin-left: 1em;
}

.session .presence-opt {
	float: right;
	margin-top: -3em;
}

.session .post-button {
	margin-top: 5em;
}

ion-popover-view.fit {
	height: auto !important;
}

ion-popover-view.fit ion-content {
	position: relative !important;
}

.platform-android ion-popover-view.fit {
	margin-top: 10px !important;
}

ion-popover-view.fit .button.button-full {
	margin-top: 0; !important;
	margin-bottom: 0; !important;
}

.logout-button {
	background: rgb(151, 187, 244);
}

.student_card {
	margin-bottom: 5px;
	margin-top: 5px;
}

.nfc-enabled {
	background-color: #AAFFAA;
	width: 10%;
	padding: 5px;
	border-radius: 5px;
}

.nfc-disabled {
	background-color: #E0DBDB;
	width: 10%;
	padding: 10px;
	border-radius: 5px;
}
